<div class="jumbotron" style="padding-top:1%;margin:10%;margin-top:0%;margin-bottom:0%;background:rgba(255,255,255,0.6);">

<div class="registrationForm" style = "padding:25%;padding-top:0%;padding-bottom:0%">

<%= form_for @user, local: true do |form| %>

  <div class="page-header">
      <h2>Sign Up &nbsp<small>Please fill in the details.</small></h2>
  </div>

  <div class="form-group">


      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp<%= form.label :name %>
      <br>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>

      <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp<%= form.label :phone %>
      <br>
      <%= form.telephone_field :phone, class: "form-control", placeholder: "Enter Phone Number" %>

      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp<%= form.label :email %>
      <br>
      <%= form.email_field :email, class: "form-control", placeholder: "Enter Email" %>

      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp<%= form.label :password %>
      <br>
      <%= form.password_field :password, class: "form-control", placeholder: "Enter Password" %>

      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp<%= form.label :password, "Confirm Password" %>
      <br>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Enter Password Again" %>

  </div>

      <%= form.submit class:"btn btn-default center-block" %>

<% end %>

<% if params[:failureMessage] %>
  <br>
  <div class="alert alert-danger" style="text-align:center" role="alert"><%= params[:failureMessage] %></div>
<% end %>

</div>
</div>
