<div class="jumbotron" style="padding:10%;padding-top:1%;margin-top:0%;margin-bottom:0%;background:rgba(255,255,255,0.6);">

  <% if !user_signed_in? %>
  <div style="text-align:center;">
    <h1>Welcome!</h1>
    <p style="text-align:center;">Join the website today and connect with your family and friends!</p>
    <p><a class="btn btn-default btn-lg center-block standardButton" href="<%= new_user_registration_path %>" role="button">Create Account</a></p>
  </div>
  <% else %>
    <div class="page-header" style="margin-top:0;text-align:center;">
        <h1><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Feed</h1>
        <h2><small>You can now connect with your family and friends! Enjoy!</small></h2>
    </div>
  <% end %>

    <% if @posts.length >= 1 %>
      <% for post in @posts %>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail" style="background-color:black;">
              <div class="caption" style="color:white;text-align:center;">
                  <h4><span style="color:orange;"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> <%= post.image_heading %> | <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @users.where(id:post.user_id).to_a[0].first_name %> </span> <hr> <%= post.image_caption %></h4>
                  <p><a href="#" class="btn btn-default disabledTransparentButton disabled"  role="button"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Posted <%= time_ago_in_words(post.time) %> ago</a>
              </div>
              <img src="<%= post.post_image.url(:original) %>" alt="<%= post.image_caption %>">
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      There are no posts right now!
    <% end %>
</div>
